.gameBackground::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../../public/assets/Images/pokerFloor.png');
    background-size: cover;
    background-position: center;
    opacity: 2; /* Adjust this value to decrease the opacity of the background image */
    z-index: -1; /* Ensure the background stays behind the content */
}

.game-name {
    margin-bottom: 80px;
}
.game-container {
    text-align: center;
    padding: 20px;
    z-index: 1;
    position: relative;
}


/*.poker-table {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 400px;
    margin: 0 auto;
}

.poker-table-svg {
    max-width: 100%;
    height: auto;
}
*/

.player {
    color: #fff; 
    font-size: 16px; 
    padding: 0; 
    margin: 0; 
    position: absolute; 
}

/* General player styling 
.player {
    position: absolute;
    text-align: center;
    color: white;
}

.player-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #000;
    margin-bottom: 5px;
}

.player-info {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    border-radius: 5px;
}
*/

/* Position each player around the table */
.player-1 {
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}

.player-2 {
    top: 50%;
    right: 7%;
    transform: translateY(-50%);
}

.player-3 {
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
}

.player-4 {
    top: 50%;
    left: 7%;
    transform: translateY(-50%);
}
