/* Player action buttons */
.player-panel {
    display: flex;
    align-items: center;
    justify-content: space-around; /* Distribute buttons evenly */
    flex-grow: 1; /* Ensure the panel expands as needed */
}

.actions {
    flex: 1; /* Allow sections to grow and shrink as needed */
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for the action buttons */
.actions {
    display: flex;
    justify-content: space-between; /* Space out the buttons */
    align-items: center;
}

.actions button {
    margin: 0 5px;
    padding: 10px 15px; /* Adjusted padding */
    background-color: #16a085;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 14px; /* Adjusted font size */
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.actions button.raise {
    background-color: #28a745;
}

.actions button.check {
    background-color: #007bff;
}

.actions button.fold {
    background-color: #dc3545;
}

.actions button:hover {
    background-color: #1abc9c;
}
